//
   Created by Mathias on 7/30/2017.

extends layout

block content
    h1.text-center Application: #{oneapp.name}
    form(method='post', action='/applications/edit/#{oneapp._id}')
        div.container
            div.row.space
                div.col-md-2.col-md-offset-4
                    label(for='name') Name:
                div.col-md-4
                    input.form-control(value='#{oneapp.name}', name='name')
            div.row.space
                div.col-md-2.col-md-offset-4
                    label(for='description') Description:
                div.col-md-4
                    input.form-control(value='#{oneapp.description}', name='description')
            div.row.space
                div.col-md-2.col-md-offset-4
                    label(for='app_key') App Key:
                div.col-md-4
                    input.form-control(value='#{oneapp.app_key}', name='app_key')
            div.row.space
                input(type='submit', value='Update').btn.btn-primary.btn
                a(href='/applications').btn.btn-default.btn Back
            div.row.space
                a(href='https://sandbox.api.macquariebank.io/connect/v1/user-interface/login?client_id=20yupeh39V13Ch7CQsAG36ktDhtDN8jM&state='+oneapp._id, target='_self' class='text-center') Connect to Macquarie account